@import "layout.scss";

.ba-header {
  padding: 50px 0 48px;
  color: #fff;
  text-transform: uppercase;
  font-family: $primaryFontFamily;
  background: {
    image: url(../images/imgBg.png), linear-gradient(90deg, rgba(85, 183, 254, 1) 0%, rgba(126, 93, 251, 1) 49%);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ba-logo__item {
      width: 244px;
      height: 60px;
    }
    .ba-menu {
      display: flex;
      &__item {
        margin-right: 100px;
        font-size: 0.875rem;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
            0 0 55px #49ff18, 0 0 75px #49ff18;
        }
      }
    }
    .ba-social {
      display: flex;
      justify-content: center;
      align-items: center;
      &__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%;
        &:hover {
          opacity: 0.7;
        }
        &:last-child {
          margin-right: 0;
        }
        &--twitter {
          padding: 12px 14px;
        }
        &--instagram {
          padding: 11px 14px;
        }
        .ba-social__item {
          &--facebook {
            width: 9px;
            height: 16px;
          }
          &--twitter {
            width: 15px;
            height: 12px;
          }
          &--instargam {
            width: 15px;
            height: 16px;
          }
        }
      }
    }
  }
  .ba-tagline {
    padding-top: 295px;
    text-align: center;
    // margin-bottom: 222px;
    &__title {
      font-size: 5rem;
      letter-spacing: 2.5px;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 1.125rem;
      letter-spacing: 3.5px;
      font-weight: 300;
    }
  }
  .ba-scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    &__link {
      border: 1px solid #fff;
      padding: 10px 15px;
      border-radius: 50%;
      &:hover {
        opacity: 0.7;
      }
    }
    &__item {
      width: 10px;
      height: 5px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// start section about

.ba-about {
  padding-top: 130px;
  font-family: $primaryFontFamily;
  text-transform: uppercase;
  color: $primaryColor;
  .ba-title {
    text-align: center;
    margin-bottom: 155px;
    &__item {
      font-size: 2.75rem;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: $primaryColor;
        margin: 0 auto 33px;
      }
    }
  }
  .ba-trade {
    display: flex;
    margin-bottom: 200px;
    .ba-image-wrapper {
      position: relative;
      width: 100%;
      height: 470px;
      background-color: #2c4058;
      margin-right: 70px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 585px;
        height: 470px;
        background-color: #55b7ff;
        right: 216px;
        bottom: 70px;
      }
      &__item {
        object-fit: cover;
        width: 100%;
        max-width: 630px;
        position: relative;
        z-index: 10;
      }
    }
    .ba-trade-desc {
      padding-top: 53px;
      &__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal;
      }
      &__title {
        font-size: 2.75rem;
        margin-bottom: 30px;
      }
      &__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: $secondaryFontFamily;
        line-height: 30px;
        margin-bottom: 50px;
        color: $secondaryColor;
      }
      &__link {
        display: inline-block;
        border: 1px solid $primaryColor;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500;
        &:active {
          color: #031933;
          border-color: #031933;
        }
        &:hover {
          color: #0b1e3570;
          border-color: #0b1e3570;
        }
      }
      &__info {
        display: block;
        font-family: $secondaryFontFamily;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px;
        &:hover {
          opacity: 0.7;
        }
        .ba-trade-marker {
          width: 15px;
          height: 15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .ba-commerce {
    display: flex;
    margin-bottom: 140px;
    .ba-commerce-desc {
      padding-top: 53px;
      margin-right: 75px;
      &__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal;
      }
      &__title {
        font-size: 2.75rem;
        margin-bottom: 30px;
      }
      &__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: $secondaryFontFamily;
        line-height: 30px;
        margin-bottom: 50px;
        color: $secondaryColor;
      }
      &__link {
        display: inline-block;
        border: 1px solid $primaryColor;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500;
        &:active {
          color: #031933;
          border-color: #031933;
        }
        &:hover {
          color: #0b1e3570;
          border-color: #0b1e3570;
        }
      }
      &__info {
        display: block;
        font-family: $secondaryFontFamily;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px;
        &:hover {
          opacity: 0.7;
        }
        .ba-commerce-marker {
          width: 15px;
          height: 15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .ba-commerce-image-wrapper {
      position: relative;
      width: 100%;
      height: 470px;
      background-color: #2c4058;
      // &::before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   width: 585px;
      //   height: 470px;
      //   background-color: #7e5aff;
      //   left: 120px;
      //   bottom: 70px;
      // }
      &__item {
        position: relative;
        z-index: 10;
      }
      .ba-commerce-image-wrapper__block {
        width: 630px;
        position: absolute;
        height: 470px;
        background-color: #7e5aff;
        top: -70px;
        left: 75px;
      }
    }
  }
}
