@import "layout.scss";

.ba-header {
  padding: 50px 0 48px;
  color: #fff;
  text-transform: uppercase;
  font-family: $primaryFontFamily;
  overflow: hidden;
  background: {
    image: url(../images/imgBg.png), linear-gradient(90deg, rgba(85, 183, 254, 1) 0%, rgba(126, 93, 251, 1) 49%);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ba-logo__item {
      width: 244px;
      height: 60px;
    }
    .ba-menu {
      display: flex;
      &__item {
        margin-right: 70px;
        font-size: 0.875rem;
        user-select: none;
        .ba-menu__circle {
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
        }
        .active {
          background-color: #fff;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #49ff18, 0 0 10px #49ff18;
        }
      }
    }
    .ba-social {
      display: flex;
      justify-content: center;
      align-items: center;

      &__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%;
        &:hover {
          opacity: 0.7;
        }
        &:last-child {
          margin-right: 0;
        }
        &--twitter {
          padding: 12px 14px;
        }
        &--instagram {
          padding: 11px 14px;
        }
        .ba-social__item {
          &--facebook {
            width: 9px;
            height: 16px;
          }
          &--twitter {
            width: 15px;
            height: 12px;
          }
          &--instargam {
            width: 15px;
            height: 16px;
          }
        }
      }
    }
  }
  .ba-tagline {
    padding-top: 295px;
    text-align: center;
    &__title {
      font-size: 5rem;
      letter-spacing: 2.5px;
      margin-bottom: 27px;
      cursor: pointer;
      &--purple {
        color: rgb(53%, 13%, 47%);
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5,
          0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
      }
      &--yellow {
        color: rgb(176, 184, 29);
        text-shadow: 3px 5px 2px #474747;
      }
      &--green {
        color: rgb(29, 184, 55);
        text-shadow: #fffca8 2px 2px 0px, #9c9c9c 4px 4px 0px;
      }
      &--blue {
        color: rgb(27, 30, 222);
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
      }
    }
    &__text {
      font-size: 1.125rem;
      letter-spacing: 3.5px;
      font-weight: 300;
      cursor: pointer;
      &--purple {
        color: rgb(53%, 13%, 47%);
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5,
          0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
      }
      &--yellow {
        color: rgb(176, 184, 29);
        text-shadow: 3px 5px 2px #474747;
      }
      &--green {
        color: rgb(29, 184, 55);
        text-shadow: #fffca8 2px 2px 0px, #9c9c9c 4px 4px 0px;
      }
      &--blue {
        color: rgb(27, 30, 222);
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
      }
    }
  }
  .ba-wrapp-slider {
    position: relative;

    .slick-dots {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 55%;
      left: 100%;
      right: 0;
      li {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
        button {
          &::before {
            font-size: 0.875rem;
            color: #fff;
          }
        }
      }
    }
  }

  .ba-scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    &__link {
      border: 1px solid #fff;
      padding: 10px 15px;
      border-radius: 50%;
      &:hover {
        opacity: 0.7;
      }
    }
    &__item {
      width: 10px;
      height: 5px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// start section about

.ba-about {
  padding-top: 130px;
  font-family: $primaryFontFamily;
  text-transform: uppercase;
  color: $primaryColor;
  overflow: hidden;
  .ba-title {
    text-align: center;
    margin-bottom: 155px;
    &__item {
      font-size: 2.75rem;
      font-weight: 600;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: $primaryColor;
        margin: 0 auto 33px;
      }
    }
  }
  .ba-trade {
    display: flex;
    margin-bottom: 200px;
    .ba-image-wrapper {
      position: relative;
      width: 100%;
      height: 470px;
      margin-right: 75px;
      // &::before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   max-width: 100%;
      //   width: 585px;
      //   height: 470px;
      //   background-color: #55b7ff;
      //   right: 34%;
      //   bottom: 70px;
      // }
      &__block {
        width: 100%;
        max-width: 100%;
        position: absolute;
        height: 470px;
        background-color: #55b7ff;
        top: -70px;
        right: 40%;
      }
      &__item {
        object-fit: cover;
        max-width: 630px;
        position: relative;
        z-index: 10;
      }
    }
    .ba-trade-desc {
      padding-top: 53px;
      &__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal;
      }
      &__title {
        font-size: 2.75rem;
        margin-bottom: 30px;
      }
      &__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: $secondaryFontFamily;
        line-height: 30px;
        margin-bottom: 50px;
        color: $secondaryColor;
      }
      &__link {
        display: inline-block;
        border: 1px solid $primaryColor;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500;
        &:active {
          color: #031933;
          border-color: #031933;
        }
        &:hover {
          color: #0b1e3570;
          border-color: #0b1e3570;
        }
      }
      &__info {
        display: block;
        font-family: $secondaryFontFamily;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px;
        &:hover {
          opacity: 0.7;
        }
        .ba-trade-marker {
          width: 15px;
          height: 15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .ba-commerce {
    display: flex;
    margin-bottom: 140px;
    .ba-commerce-desc {
      padding-top: 53px;
      &__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal;
      }
      &__title {
        font-size: 2.75rem;
        margin-bottom: 30px;
      }
      &__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: $secondaryFontFamily;
        line-height: 30px;
        margin-bottom: 50px;
        color: $secondaryColor;
      }
      &__link {
        display: inline-block;
        border: 1px solid $primaryColor;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500;
        &:active {
          color: #031933;
          border-color: #031933;
        }
        &:hover {
          color: #0b1e3570;
          border-color: #0b1e3570;
        }
      }
      &__info {
        display: block;
        font-family: $secondaryFontFamily;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px;
        &:hover {
          opacity: 0.7;
        }
        .ba-commerce-marker {
          width: 15px;
          height: 15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .ba-commerce-image-wrapper {
      position: relative;
      width: 1550px;
      height: 470px;
      background-color: #2c4058;
      margin-left: 70px;
      // &::after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   width: 585px;
      //   max-width: 100%;
      //   height: 470px;
      //   background-color: #7e5aff;
      //   left: 33%;
      //   bottom: 70px;
      // }
      &__item {
        position: relative;
        z-index: 10;
        object-fit: cover;
        width: 100%;
        max-width: 630px;
      }
      &__block {
        width: 590px;
        position: absolute;
        height: 470px;
        background-color: #7e5aff;
        top: -70px;
        left: 33%;
      }
    }
  }
}

// start news section

.ba-news {
  padding: 170px 0 140px;
  overflow: hidden;
  background: {
    image: url(../images/newsBg2.png), linear-gradient(to right top, #3c7fd4, #2393e2, #00a7ec, #00baf4, #24ccfa);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  .ba-title {
    text-align: center;
    margin-bottom: 88px;
    color: #fff;
    font-family: $primaryFontFamily;
    text-transform: uppercase;
    &__item {
      font-size: 2.75rem;
      font-weight: 500;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        margin: 0 auto 33px;
      }
    }
  }
  .ba-project-card {
    width: 100%;
    margin-bottom: 58px;

    .ba-project-info {
      margin-top: -4px;
      padding: 24px 20px 29px;
      background-color: #fff;
      // max-height: 275px;
      &--padding {
        padding: 24px 15px 29px 20px;
      }
      &__title {
        font-family: $primaryFontFamily;
        font-size: 1.375rem;
        color: $primaryColor;
        text-transform: uppercase;
        line-height: 34px;
      }
      &__text {
        font-family: $secondaryFontFamily;
        color: #6f7781;
        font-size: 1.125rem;
        line-height: 30px;
        font-weight: 400;
      }
      .ba-contact-card {
        display: flex;
        margin-top: 30px;
        font-family: $secondaryFontFamily;
        &__image {
          margin-right: 20px;
        }
        .ba-contact-wrapp {
          position: relative;
          top: 10px;
          &__name {
            text-transform: uppercase;
            font-size: 1.125rem;
            display: inline-block;
            margin-bottom: 5px;
          }
          &__date {
            position: relative;
            display: block;
            font-size: 0.875rem;
            color: #55b7ff;
          }
        }
      }
    }
  }
  .slick-prev {
    left: -60px;
    transition: 0.3s;
    &::before {
      content: url(../images/L.png);
      opacity: 1;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  .slick-next {
    right: -60px;
    transition: 0.3s;
    &::before {
      content: url(../images/R.png);
      opacity: 1;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  .slick-dots {
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      button {
        width: 14px;
        height: 14px;
        &::before {
          font-size: 0.875rem;
          color: #fff;
        }
      }
    }
  }
}

// start section gallary

.ba-gallary {
  padding: 165px 0 140px;
  overflow: hidden;
  .ba-title {
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-family: $primaryFontFamily;
    color: $primaryColor;

    &__item {
      font-size: 2.75rem;
      font-weight: 500;
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: $primaryColor;
        margin: 0 auto 33px;
      }
    }
  }
  .ba-slide-card__item {
    object-fit: cover;
  }
  .ba-col-6--pad {
    padding: 0 10px;
  }
  .ba-col-6--padNone {
    padding: 0 6px;
    padding-bottom: 1px;
  }

  .ba-link {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    &__item {
      display: inline-block;
      border: 1px solid $primaryColor;
      font-size: 0.875rem;
      padding: 17px 55px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: $primaryFontFamily;
      &:active {
        color: #031933;
        border-color: #031933;
      }
      &:hover {
        color: #0b1e3570;
        border-color: #0b1e3570;
      }
    }
  }
}

// maps block

#map {
  width: 100%;
  max-width: 100%;
  height: 700px;
}

//start footer

// contact modal

.ba-footer {
  position: relative;
  padding: 204px 0 208px;
  background: {
    image: url(../images/imgForFooter.png), linear-gradient(to right, #55b7ff, #44a8ff, #4b96ff, #6681ff, #8766fe);
    repeat: no-repeat;
    position: right top;
    size: cover;
  }
  .ba-contact {
    position: absolute;
    width: 100%;
    max-width: 770px;
    padding: 75px 62px 75px 58px;
    background: {
      image: url(../images/foContact.jpg);
      repeat: no-repeat;
      position: bottom;
      color: #fff;
    }
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .ba-title {
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-family: $primaryFontFamily;
      color: $primaryColor;
      &__item {
        font-size: 2.75rem;
        font-weight: 500;
        &::before {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          background-color: $primaryColor;
          margin: 0 auto 33px;
        }
      }
    }
    .ba-contact-wrapp {
      display: flex;
      .ba-adress {
        width: 50%;
        &__link {
          position: relative;
          display: block;
          font-size: 1.125rem;
          color: $primaryColor;
          margin-bottom: 40px;
          margin-right: 50px;
          font-weight: 500;
          font-family: $primaryFontFamily;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &__item {
          width: 15px;
          height: 20px;
          position: absolute;
          left: -20px;
          &--facs {
            left: -22px;
          }
          &--clock {
            width: 16px;
            left: -22px;
          }
        }
      }
      .ba-form {
        width: 50%;
        &__item {
          width: 100%;
          display: block;
          border: none;
          border-bottom: 1px solid #d5d9de;
          padding: 0 0 18px 0;
          outline: none;
          font-family: $primaryFontFamily;
          font-size: 1.125rem;
          line-height: 22px;
          font-weight: 500;
          color: $primaryColor;
          background-color: transparent;
          &:first-child {
            margin-bottom: 40px;
          }

          &:focus {
            border-color: $primaryColor;
          }
          &::placeholder {
            color: #d5d9de;
            text-indent: 0px;
            transition: text-indent 0.3s ease;
          }
          &:focus &::placeholder {
            text-indent: 500px;
          }
        }
        .ba-btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 50px;
          &__item {
            border: 1px solid $primaryColor;
            font-size: 0.875rem;
            padding: 17px 40px;
            font-weight: 500;
            background-color: transparent;
            text-transform: uppercase;
            cursor: pointer;
            font-family: $primaryFontFamily;
            &:active {
              color: #031933;
              border-color: #031933;
            }
            &:hover {
              color: #0b1e3570;
              border-color: #0b1e3570;
            }
          }
        }
      }
    }
  }
  .ba-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 770px;
    margin: 70px auto 36px;
    .ba-logo__item {
      width: 244px;
      height: 60px;
    }
    .ba-social {
      display: flex;
      justify-content: center;
      align-items: center;
      &__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%;
        &:hover {
          opacity: 0.7;
        }
        &:last-child {
          margin-right: 0;
        }
        &--twitter {
          padding: 12px 14px;
        }
        &--instagram {
          padding: 11px 14px;
        }
        .ba-social__item {
          &--facebook {
            width: 9px;
            height: 16px;
          }
          &--twitter {
            width: 15px;
            height: 12px;
          }
          &--instargam {
            width: 15px;
            height: 16px;
          }
        }
      }
    }
  }

  .ba-copyright {
    font-family: $primaryFontFamily;
    font-size: 0.875rem;
    color: #fff;
    padding: 0 186px;
    &__item {
      position: relative;
      display: inline-block;
      font-weight: 400;
      &:first-child {
        margin-right: 40px;
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 20px;
          background-color: #b1ceff;
          right: -10%;
        }
      }
    }
  }
}
