* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul,
li {
  list-style: none; }

img {
  height: 100%;
  max-width: 100%; }

.container {
  max-width: 1176px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 0.3rem; }

[class^="ba-col-"] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

.ba-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

#menu-checkbox {
  display: none; }

.ba-header {
  padding: 50px 0 48px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham Pro", sans-serif;
  overflow: hidden;
  background-image: url(../images/imgBg.png), linear-gradient(90deg, #55b7fe 0%, #7e5dfb 49%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .ba-header .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ba-header .ba-header-wrapper .ba-logo__item {
      width: 244px;
      height: 60px; }
    .ba-header .ba-header-wrapper .ba-menu {
      display: flex; }
      .ba-header .ba-header-wrapper .ba-menu__item {
        margin-right: 70px;
        font-size: 0.875rem;
        user-select: none; }
        .ba-header .ba-header-wrapper .ba-menu__item .ba-menu__circle {
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer; }
        .ba-header .ba-header-wrapper .ba-menu__item .active {
          background-color: #fff; }
        .ba-header .ba-header-wrapper .ba-menu__item:last-child {
          margin-right: 0; }
        .ba-header .ba-header-wrapper .ba-menu__item:hover {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #49ff18, 0 0 10px #49ff18; }
    .ba-header .ba-header-wrapper .ba-social {
      display: flex;
      justify-content: center;
      align-items: center; }
      .ba-header .ba-header-wrapper .ba-social__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%; }
        .ba-header .ba-header-wrapper .ba-social__link:hover {
          opacity: 0.7; }
        .ba-header .ba-header-wrapper .ba-social__link:last-child {
          margin-right: 0; }
        .ba-header .ba-header-wrapper .ba-social__link--twitter {
          padding: 12px 14px; }
        .ba-header .ba-header-wrapper .ba-social__link--instagram {
          padding: 11px 14px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--facebook {
          width: 9px;
          height: 16px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--twitter {
          width: 15px;
          height: 12px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--instargam {
          width: 15px;
          height: 16px; }
  .ba-header .ba-tagline {
    padding-top: 295px;
    text-align: center; }
    .ba-header .ba-tagline__title {
      font-size: 5rem;
      letter-spacing: 2.5px;
      margin-bottom: 27px;
      cursor: pointer; }
      .ba-header .ba-tagline__title--purple {
        color: #872178;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; }
      .ba-header .ba-tagline__title--yellow {
        color: #b0b81d;
        text-shadow: 3px 5px 2px #474747; }
      .ba-header .ba-tagline__title--green {
        color: #1db837;
        text-shadow: #fffca8 2px 2px 0px, #9c9c9c 4px 4px 0px; }
      .ba-header .ba-tagline__title--blue {
        color: #1b1ede;
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8; }
    .ba-header .ba-tagline__text {
      font-size: 1.125rem;
      letter-spacing: 3.5px;
      font-weight: 300;
      cursor: pointer; }
      .ba-header .ba-tagline__text--purple {
        color: #872178;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; }
      .ba-header .ba-tagline__text--yellow {
        color: #b0b81d;
        text-shadow: 3px 5px 2px #474747; }
      .ba-header .ba-tagline__text--green {
        color: #1db837;
        text-shadow: #fffca8 2px 2px 0px, #9c9c9c 4px 4px 0px; }
      .ba-header .ba-tagline__text--blue {
        color: #1b1ede;
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8; }
  .ba-header .ba-wrapp-slider {
    position: relative; }
    .ba-header .ba-wrapp-slider .slick-dots {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 55%;
      left: 100%;
      right: 0; }
      .ba-header .ba-wrapp-slider .slick-dots li {
        margin-bottom: 40px; }
        .ba-header .ba-wrapp-slider .slick-dots li:last-child {
          margin-bottom: 0; }
        .ba-header .ba-wrapp-slider .slick-dots li button::before {
          font-size: 0.875rem;
          color: #fff; }
  .ba-header .ba-scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px; }
    .ba-header .ba-scroll-down__link {
      border: 1px solid #fff;
      padding: 10px 15px;
      border-radius: 50%; }
      .ba-header .ba-scroll-down__link:hover {
        opacity: 0.7; }
    .ba-header .ba-scroll-down__item {
      width: 10px;
      height: 5px; }
      .ba-header .ba-scroll-down__item:hover {
        opacity: 0.7; }

.ba-about {
  padding-top: 130px;
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  color: #2c4058;
  overflow: hidden; }
  .ba-about .ba-title {
    text-align: center;
    margin-bottom: 155px; }
    .ba-about .ba-title__item {
      font-size: 2.75rem;
      font-weight: 600; }
      .ba-about .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin: 0 auto 33px; }
  .ba-about .ba-trade {
    display: flex;
    margin-bottom: 200px; }
    .ba-about .ba-trade .ba-image-wrapper {
      position: relative;
      width: 100%;
      height: 470px;
      margin-right: 75px; }
      .ba-about .ba-trade .ba-image-wrapper__block {
        width: 100%;
        max-width: 100%;
        position: absolute;
        height: 470px;
        background-color: #55b7ff;
        top: -70px;
        right: 40%; }
      .ba-about .ba-trade .ba-image-wrapper__item {
        object-fit: cover;
        max-width: 630px;
        position: relative;
        z-index: 10; }
    .ba-about .ba-trade .ba-trade-desc {
      padding-top: 53px; }
      .ba-about .ba-trade .ba-trade-desc__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal; }
      .ba-about .ba-trade .ba-trade-desc__title {
        font-size: 2.75rem;
        margin-bottom: 30px; }
      .ba-about .ba-trade .ba-trade-desc__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: "Open Sans", sans-serif;
        line-height: 30px;
        margin-bottom: 50px;
        color: #636c77; }
      .ba-about .ba-trade .ba-trade-desc__link {
        display: inline-block;
        border: 1px solid #2c4058;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500; }
        .ba-about .ba-trade .ba-trade-desc__link:active {
          color: #031933;
          border-color: #031933; }
        .ba-about .ba-trade .ba-trade-desc__link:hover {
          color: #0b1e3570;
          border-color: #0b1e3570; }
      .ba-about .ba-trade .ba-trade-desc__info {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px; }
        .ba-about .ba-trade .ba-trade-desc__info:hover {
          opacity: 0.7; }
        .ba-about .ba-trade .ba-trade-desc__info .ba-trade-marker {
          width: 15px;
          height: 15px; }
          .ba-about .ba-trade .ba-trade-desc__info .ba-trade-marker:hover {
            opacity: 0.7; }
  .ba-about .ba-commerce {
    display: flex;
    margin-bottom: 140px; }
    .ba-about .ba-commerce .ba-commerce-desc {
      padding-top: 53px; }
      .ba-about .ba-commerce .ba-commerce-desc__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal; }
      .ba-about .ba-commerce .ba-commerce-desc__title {
        font-size: 2.75rem;
        margin-bottom: 30px; }
      .ba-about .ba-commerce .ba-commerce-desc__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: "Open Sans", sans-serif;
        line-height: 30px;
        margin-bottom: 50px;
        color: #636c77; }
      .ba-about .ba-commerce .ba-commerce-desc__link {
        display: inline-block;
        border: 1px solid #2c4058;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500; }
        .ba-about .ba-commerce .ba-commerce-desc__link:active {
          color: #031933;
          border-color: #031933; }
        .ba-about .ba-commerce .ba-commerce-desc__link:hover {
          color: #0b1e3570;
          border-color: #0b1e3570; }
      .ba-about .ba-commerce .ba-commerce-desc__info {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px; }
        .ba-about .ba-commerce .ba-commerce-desc__info:hover {
          opacity: 0.7; }
        .ba-about .ba-commerce .ba-commerce-desc__info .ba-commerce-marker {
          width: 15px;
          height: 15px; }
          .ba-about .ba-commerce .ba-commerce-desc__info .ba-commerce-marker:hover {
            opacity: 0.7; }
    .ba-about .ba-commerce .ba-commerce-image-wrapper {
      position: relative;
      width: 1550px;
      height: 470px;
      background-color: #2c4058;
      margin-left: 70px; }
      .ba-about .ba-commerce .ba-commerce-image-wrapper__item {
        position: relative;
        z-index: 10;
        object-fit: cover;
        width: 100%;
        max-width: 630px; }
      .ba-about .ba-commerce .ba-commerce-image-wrapper__block {
        width: 590px;
        position: absolute;
        height: 470px;
        background-color: #7e5aff;
        top: -70px;
        left: 33%; }

.ba-news {
  padding: 170px 0 140px;
  overflow: hidden;
  background-image: url(../images/newsBg2.png), linear-gradient(to right top, #3c7fd4, #2393e2, #00a7ec, #00baf4, #24ccfa);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .ba-news .ba-title {
    text-align: center;
    margin-bottom: 88px;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    text-transform: uppercase; }
    .ba-news .ba-title__item {
      font-size: 2.75rem;
      font-weight: 500; }
      .ba-news .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        margin: 0 auto 33px; }
  .ba-news .ba-project-card {
    width: 100%;
    margin-bottom: 58px; }
    .ba-news .ba-project-card .ba-project-info {
      margin-top: -4px;
      padding: 24px 20px 29px;
      background-color: #fff; }
      .ba-news .ba-project-card .ba-project-info--padding {
        padding: 24px 15px 29px 20px; }
      .ba-news .ba-project-card .ba-project-info__title {
        font-family: "Gotham Pro", sans-serif;
        font-size: 1.375rem;
        color: #2c4058;
        text-transform: uppercase;
        line-height: 34px; }
      .ba-news .ba-project-card .ba-project-info__text {
        font-family: "Open Sans", sans-serif;
        color: #6f7781;
        font-size: 1.125rem;
        line-height: 30px;
        font-weight: 400; }
      .ba-news .ba-project-card .ba-project-info .ba-contact-card {
        display: flex;
        margin-top: 30px;
        font-family: "Open Sans", sans-serif; }
        .ba-news .ba-project-card .ba-project-info .ba-contact-card__image {
          margin-right: 20px; }
        .ba-news .ba-project-card .ba-project-info .ba-contact-card .ba-contact-wrapp {
          position: relative;
          top: 10px; }
          .ba-news .ba-project-card .ba-project-info .ba-contact-card .ba-contact-wrapp__name {
            text-transform: uppercase;
            font-size: 1.125rem;
            display: inline-block;
            margin-bottom: 5px; }
          .ba-news .ba-project-card .ba-project-info .ba-contact-card .ba-contact-wrapp__date {
            position: relative;
            display: block;
            font-size: 0.875rem;
            color: #55b7ff; }
  .ba-news .slick-prev {
    left: -60px;
    transition: 0.3s; }
    .ba-news .slick-prev::before {
      content: url(../images/L.png);
      opacity: 1; }
    .ba-news .slick-prev:hover {
      opacity: 0.5; }
  .ba-news .slick-next {
    right: -60px;
    transition: 0.3s; }
    .ba-news .slick-next::before {
      content: url(../images/R.png);
      opacity: 1; }
    .ba-news .slick-next:hover {
      opacity: 0.5; }
  .ba-news .slick-dots li {
    margin-right: 40px; }
    .ba-news .slick-dots li:last-child {
      margin-right: 0; }
    .ba-news .slick-dots li button {
      width: 14px;
      height: 14px; }
      .ba-news .slick-dots li button::before {
        font-size: 0.875rem;
        color: #fff; }

.ba-gallary {
  padding: 165px 0 140px;
  overflow: hidden; }
  .ba-gallary .ba-title {
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-family: "Gotham Pro", sans-serif;
    color: #2c4058; }
    .ba-gallary .ba-title__item {
      font-size: 2.75rem;
      font-weight: 500; }
      .ba-gallary .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin: 0 auto 33px; }
  .ba-gallary .ba-slide-card {
    position: relative; }
  .ba-gallary .degree {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .ba-gallary .ba-col-6--pad {
    padding: 0 10px; }
  .ba-gallary .ba-col-6--padNone {
    padding: 0 6px;
    padding-bottom: 1px; }
  .ba-gallary .ba-link {
    display: flex;
    justify-content: center;
    margin-top: 60px; }
    .ba-gallary .ba-link__item {
      display: inline-block;
      border: 1px solid #2c4058;
      font-size: 0.875rem;
      padding: 17px 55px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Gotham Pro", sans-serif; }
      .ba-gallary .ba-link__item:active {
        color: #031933;
        border-color: #031933; }
      .ba-gallary .ba-link__item:hover {
        color: #0b1e3570;
        border-color: #0b1e3570; }

#map {
  width: 100%;
  max-width: 100%;
  height: 700px; }

.ba-footer {
  position: relative;
  padding: 204px 0 208px;
  background-image: url(../images/imgForFooter.png), linear-gradient(to right, #55b7ff, #44a8ff, #4b96ff, #6681ff, #8766fe);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover; }
  .ba-footer .ba-contact {
    position: absolute;
    width: 100%;
    max-width: 770px;
    padding: 75px 62px 75px 58px;
    background-image: url(../images/foContact.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #fff;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .ba-footer .ba-contact .ba-title {
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-family: "Gotham Pro", sans-serif;
      color: #2c4058; }
      .ba-footer .ba-contact .ba-title__item {
        font-size: 2.75rem;
        font-weight: 500; }
        .ba-footer .ba-contact .ba-title__item::before {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          background-color: #2c4058;
          margin: 0 auto 33px; }
    .ba-footer .ba-contact .ba-contact-wrapp {
      display: flex; }
      .ba-footer .ba-contact .ba-contact-wrapp .ba-adress {
        width: 50%; }
        .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__link {
          position: relative;
          display: block;
          font-size: 1.125rem;
          color: #2c4058;
          margin-bottom: 40px;
          margin-right: 50px;
          font-weight: 500;
          font-family: "Gotham Pro", sans-serif; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__link:last-child {
            margin-bottom: 0; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__link:hover {
            opacity: 0.7; }
        .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__item {
          width: 15px;
          height: 20px;
          position: absolute;
          left: -20px; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__item--facs {
            left: -22px; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__item--clock {
            width: 16px;
            left: -22px; }
      .ba-footer .ba-contact .ba-contact-wrapp .ba-form {
        width: 50%; }
        .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item {
          width: 100%;
          display: block;
          border: none;
          border-bottom: 1px solid #d5d9de;
          padding: 0 0 18px 0;
          outline: none;
          font-family: "Gotham Pro", sans-serif;
          font-size: 1.125rem;
          line-height: 22px;
          font-weight: 500;
          color: #2c4058;
          background-color: transparent; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item:first-child {
            margin-bottom: 40px; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item:focus {
            border-color: #2c4058; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item::placeholder {
            color: #d5d9de;
            text-indent: 0px;
            transition: text-indent 0.3s ease; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item:focus .ba-footer .ba-contact .ba-contact-wrapp .ba-form__item::placeholder {
            text-indent: 500px; }
        .ba-footer .ba-contact .ba-contact-wrapp .ba-form .ba-btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 50px; }
          .ba-footer .ba-contact .ba-contact-wrapp .ba-form .ba-btn__item {
            border: 1px solid #2c4058;
            font-size: 0.875rem;
            padding: 17px 40px;
            font-weight: 500;
            background-color: transparent;
            text-transform: uppercase;
            cursor: pointer;
            font-family: "Gotham Pro", sans-serif; }
            .ba-footer .ba-contact .ba-contact-wrapp .ba-form .ba-btn__item:active {
              color: #031933;
              border-color: #031933; }
            .ba-footer .ba-contact .ba-contact-wrapp .ba-form .ba-btn__item:hover {
              color: #0b1e3570;
              border-color: #0b1e3570; }
  .ba-footer .ba-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 770px;
    margin: 70px auto 36px; }
    .ba-footer .ba-footer-wrapper .ba-logo__item {
      width: 244px;
      height: 60px; }
    .ba-footer .ba-footer-wrapper .ba-social {
      display: flex;
      justify-content: center;
      align-items: center; }
      .ba-footer .ba-footer-wrapper .ba-social__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%; }
        .ba-footer .ba-footer-wrapper .ba-social__link:hover {
          opacity: 0.7; }
        .ba-footer .ba-footer-wrapper .ba-social__link:last-child {
          margin-right: 0; }
        .ba-footer .ba-footer-wrapper .ba-social__link--twitter {
          padding: 12px 14px; }
        .ba-footer .ba-footer-wrapper .ba-social__link--instagram {
          padding: 11px 14px; }
        .ba-footer .ba-footer-wrapper .ba-social__link .ba-social__item--facebook {
          width: 9px;
          height: 16px; }
        .ba-footer .ba-footer-wrapper .ba-social__link .ba-social__item--twitter {
          width: 15px;
          height: 12px; }
        .ba-footer .ba-footer-wrapper .ba-social__link .ba-social__item--instargam {
          width: 15px;
          height: 16px; }
  .ba-footer .ba-copyright {
    font-family: "Gotham Pro", sans-serif;
    font-size: 0.875rem;
    color: #fff;
    padding: 0 186px; }
    .ba-footer .ba-copyright__item {
      position: relative;
      display: inline-block;
      font-weight: 400; }
      .ba-footer .ba-copyright__item:first-child {
        margin-right: 40px; }
        .ba-footer .ba-copyright__item:first-child::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 20px;
          background-color: #b1ceff;
          right: -10%; }

@media screen and (max-width: 1050px) {
  .ba-header .ba-header-wrapper .ba-social {
    display: none; }
  .ba-header .ba-tagline__title {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 27px;
    cursor: pointer; }
  .ba-header .ba-tagline__text {
    font-size: 0.875rem;
    letter-spacing: 3.5px;
    font-weight: 300;
    cursor: pointer; }
  .ba-header .ba-wrapp-slider {
    position: relative; }
    .ba-header .ba-wrapp-slider .slick-dots {
      left: 90%; }
  .ba-about .ba-trade {
    display: flex;
    flex-direction: column;
    padding: 0 20px 100px;
    margin: 0 auto 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1; }
  .ba-about .ba-trade-desc {
    width: 100%;
    max-width: 630px;
    margin: 0 auto; }
  .ba-about .ba-commerce {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto 150px;
    text-align: center; }
    .ba-about .ba-commerce .ba-commerce-image-wrapper {
      position: relative;
      left: 0;
      width: 630px;
      height: 470px;
      background-color: transparent;
      margin: 0 auto; }
  .ba-about .ba-commerce-desc {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 150px; } }

@media screen and (max-width: 953px) {
  .ba-news .ba-row .ba-col-sm-6 {
    width: 50%; }
    .ba-news .ba-row .ba-col-sm-6 .ba-project-card .ba-project-card__image {
      width: 100%; } }

@media screen and (max-width: 875px) {
  .ba-header .ba-tagline {
    padding-top: 100px; }
  .ba-header .ba-header-wrapper .ba-nav .ba-menu {
    display: none; }
    .ba-header .ba-header-wrapper .ba-nav .ba-menu__item {
      margin-bottom: 10px; }
  .ba-header .ba-header-wrapper .ba-nav .toggle-button {
    position: relative;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px; }
    .ba-header .ba-header-wrapper .ba-nav .toggle-button::after {
      content: attr(data-open);
      display: block; }
  .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .ba-menu {
    display: block; }
  .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .toggle-button::after {
    content: attr(data-close); }
  .ba-header .ba-scroll-down {
    padding-top: 100px; } }

@media screen and (max-width: 739px) {
  .ba-news {
    padding-top: 40px;
    padding-bottom: 40px; }
    .ba-news .ba-row .ba-col-sm-12 {
      width: 100%; }
      .ba-news .ba-row .ba-col-sm-12 .ba-project-card {
        width: 70%;
        margin: 0 auto; }
        .ba-news .ba-row .ba-col-sm-12 .ba-project-card .ba-project-card__image {
          width: 100%; }
        .ba-news .ba-row .ba-col-sm-12 .ba-project-card .ba-project-info__title {
          font-size: 0.875rem; }
        .ba-news .ba-row .ba-col-sm-12 .ba-project-card .ba-project-info__text {
          font-size: 0.85rem;
          line-height: 14px; }
        .ba-news .ba-row .ba-col-sm-12 .ba-project-card .ba-contact-card .ba-contact-wrapp__name {
          font-size: 0.875rem; } }

@media screen and (max-width: 682px) {
  .ba-about {
    padding-top: 50px; }
    .ba-about .ba-title__item {
      font-size: 1.5rem; }
    .ba-about .ba-trade .ba-image-wrapper {
      width: 100%;
      max-width: 500px; }
      .ba-about .ba-trade .ba-image-wrapper__block {
        width: 100%;
        max-width: 500px;
        height: 300px; }
      .ba-about .ba-trade .ba-image-wrapper__item {
        width: 100%;
        max-width: 500px;
        height: 300px; }
    .ba-about .ba-trade .ba-trade-desc {
      padding-top: 0; }
      .ba-about .ba-trade .ba-trade-desc__tagline {
        display: block;
        font-size: 0.875rem;
        font-weight: normal; }
      .ba-about .ba-trade .ba-trade-desc__title {
        font-size: 1.5rem; }
      .ba-about .ba-trade .ba-trade-desc__text {
        font-size: 0.875rem;
        margin-bottom: 30px; }
      .ba-about .ba-trade .ba-trade-desc__info {
        font-size: 0.875rem;
        margin-top: 32px; }
    .ba-about .ba-commerce {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin: 0 auto;
      text-align: center; }
      .ba-about .ba-commerce .ba-commerce-image-wrapper {
        width: 100%;
        max-width: 500px; }
        .ba-about .ba-commerce .ba-commerce-image-wrapper__block {
          width: 100%;
          max-width: 500px;
          height: 300px; }
        .ba-about .ba-commerce .ba-commerce-image-wrapper__item {
          width: 100%;
          max-width: 500px;
          height: 300px; }
      .ba-about .ba-commerce .ba-commerce-desc__tagline {
        display: block;
        font-size: 0.875rem;
        font-weight: normal;
        padding-top: 0; }
      .ba-about .ba-commerce .ba-commerce-desc__title {
        font-size: 1.5rem; }
      .ba-about .ba-commerce .ba-commerce-desc__text {
        font-size: 0.875rem;
        margin-bottom: 30px; }
      .ba-about .ba-commerce .ba-commerce-desc__info {
        font-size: 0.875rem;
        margin-top: 32px; }
  .ba-gallary .ba-row .ba-col-sm-12 {
    width: 100%; }
    .ba-gallary .ba-row .ba-col-sm-12 .ba-slide-card__item {
      display: block;
      margin: 0 auto 10px; }
  .ba-gallary .ba-row .ba-col-sm-6 {
    width: 100%;
    padding: 0 20px; }
  .ba-footer .ba-contact {
    padding: 20px; }
    .ba-footer .ba-contact .ba-title {
      margin-bottom: 20px; }
      .ba-footer .ba-contact .ba-title__item {
        font-size: 1.5rem;
        font-weight: 500; }
    .ba-footer .ba-contact .ba-contact-wrapp .ba-ardess__link {
      font-size: 0.875rem;
      margin-bottom: 20px;
      margin-right: 30px; }
    .ba-footer .ba-contact .ba-contact-wrapp .ba-ardess__item {
      width: 10px;
      height: 15px;
      left: -20px; }
    .ba-footer .ba-contact .ba-contact-wrapp__item {
      padding: 0 0 18px 0;
      font-size: 0.875rem;
      line-height: 14px; }
      .ba-footer .ba-contact .ba-contact-wrapp__item:first-child {
        margin-bottom: 20px; } }

@media screen and (max-width: 583px) {
  .ba-header .ba-tagline {
    padding-top: 100px; }
    .ba-header .ba-tagline__title {
      font-size: 1.75rem;
      letter-spacing: 2px;
      margin-bottom: 27px;
      cursor: pointer; }
    .ba-header .ba-tagline__text {
      font-size: 0.675rem;
      letter-spacing: 3.5px;
      font-weight: 300;
      cursor: pointer; }
  .ba-header .ba-scroll-down {
    padding-top: 150px; }
  .ba-footer .ba-contact .ba-contact-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .ba-footer .ba-contact .ba-contact-wrapp .ba-adress {
      margin-bottom: 40px; }
      .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__link {
        font-size: 0.75rem;
        margin-bottom: 10px;
        margin-right: 0; }
      .ba-footer .ba-contact .ba-contact-wrapp .ba-adress__item {
        width: 15px;
        height: 20px;
        left: -20px; }
    .ba-footer .ba-contact .ba-contact-wrapp .ba-form {
      width: 100%; }
  .ba-footer .ba-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .ba-footer .ba-copyright__item {
      margin-bottom: 20px; }
      .ba-footer .ba-copyright__item:first-child {
        margin-right: 40px; }
        .ba-footer .ba-copyright__item:first-child::before {
          content: "";
          width: 0;
          height: 0; } }

@media screen and (max-width: 488px) {
  .ba-header .ba-tagline {
    padding-top: 50px; }
  .ba-header .ba-scroll-down {
    padding-top: 75px; }
  .ba-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 488px) {
  .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .ba-menu {
    display: flex;
    position: absolute;
    padding: 0 10px;
    font-size: 0.75rem;
    left: 0;
    top: 0;
    right: 0;
    margin: auto; }
    .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .ba-menu__circle {
      display: none; }
    .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .ba-menu__item {
      margin-right: 20px; }
      .ba-header .ba-header-wrapper #menu-checkbox:checked + nav[role="navigation"] .ba-menu__item:last-child {
        margin-right: 0; }
  .ba-news .ba-row .ba-col-sm-12 .ba-project-card .ba-contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; } }
