* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul,
li {
  list-style: none; }

img {
  height: 100%;
  max-width: 100%; }

.container {
  max-width: 1176px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^="ba-col-"] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

.ba-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.ba-header {
  padding: 50px 0 48px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham Pro", sans-serif;
  background-image: url(../images/imgBg.png), linear-gradient(90deg, #55b7fe 0%, #7e5dfb 49%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .ba-header .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ba-header .ba-header-wrapper .ba-logo__item {
      width: 244px;
      height: 60px; }
    .ba-header .ba-header-wrapper .ba-menu {
      display: flex; }
      .ba-header .ba-header-wrapper .ba-menu__item {
        margin-right: 100px;
        font-size: 0.875rem; }
        .ba-header .ba-header-wrapper .ba-menu__item:last-child {
          margin-right: 0; }
        .ba-header .ba-header-wrapper .ba-menu__item:hover {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18; }
    .ba-header .ba-header-wrapper .ba-social {
      display: flex;
      justify-content: center;
      align-items: center; }
      .ba-header .ba-header-wrapper .ba-social__link {
        border: 1px solid #fff;
        margin-right: 20px;
        padding: 11px 16px;
        border-radius: 50%; }
        .ba-header .ba-header-wrapper .ba-social__link:hover {
          opacity: 0.7; }
        .ba-header .ba-header-wrapper .ba-social__link:last-child {
          margin-right: 0; }
        .ba-header .ba-header-wrapper .ba-social__link--twitter {
          padding: 12px 14px; }
        .ba-header .ba-header-wrapper .ba-social__link--instagram {
          padding: 11px 14px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--facebook {
          width: 9px;
          height: 16px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--twitter {
          width: 15px;
          height: 12px; }
        .ba-header .ba-header-wrapper .ba-social__link .ba-social__item--instargam {
          width: 15px;
          height: 16px; }
  .ba-header .ba-tagline {
    padding-top: 295px;
    text-align: center; }
    .ba-header .ba-tagline__title {
      font-size: 5rem;
      letter-spacing: 2.5px;
      margin-bottom: 27px; }
    .ba-header .ba-tagline__text {
      font-size: 1.125rem;
      letter-spacing: 3.5px;
      font-weight: 300; }
  .ba-header .ba-scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px; }
    .ba-header .ba-scroll-down__link {
      border: 1px solid #fff;
      padding: 10px 15px;
      border-radius: 50%; }
      .ba-header .ba-scroll-down__link:hover {
        opacity: 0.7; }
    .ba-header .ba-scroll-down__item {
      width: 10px;
      height: 5px; }
      .ba-header .ba-scroll-down__item:hover {
        opacity: 0.7; }

.ba-about {
  padding-top: 130px;
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  color: #2c4058; }
  .ba-about .ba-title {
    text-align: center;
    margin-bottom: 155px; }
    .ba-about .ba-title__item {
      font-size: 2.75rem; }
      .ba-about .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin: 0 auto 33px; }
  .ba-about .ba-trade {
    display: flex;
    margin-bottom: 200px; }
    .ba-about .ba-trade .ba-image-wrapper {
      position: relative;
      width: 100%;
      height: 470px;
      margin-right: 160px; }
      .ba-about .ba-trade .ba-image-wrapper__block {
        width: 100%;
        max-width: 100%;
        position: absolute;
        height: 470px;
        background-color: #55b7ff;
        top: -70px;
        right: 40%; }
      .ba-about .ba-trade .ba-image-wrapper__item {
        object-fit: cover;
        width: 100%;
        max-width: 630px;
        position: relative;
        z-index: 10;
        left: 90px; }
    .ba-about .ba-trade .ba-trade-desc {
      padding-top: 53px; }
      .ba-about .ba-trade .ba-trade-desc__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal; }
      .ba-about .ba-trade .ba-trade-desc__title {
        font-size: 2.75rem;
        margin-bottom: 30px; }
      .ba-about .ba-trade .ba-trade-desc__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: "Open Sans", sans-serif;
        line-height: 30px;
        margin-bottom: 50px;
        color: #636c77; }
      .ba-about .ba-trade .ba-trade-desc__link {
        display: inline-block;
        border: 1px solid #2c4058;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500; }
        .ba-about .ba-trade .ba-trade-desc__link:active {
          color: #031933;
          border-color: #031933; }
        .ba-about .ba-trade .ba-trade-desc__link:hover {
          color: #0b1e3570;
          border-color: #0b1e3570; }
      .ba-about .ba-trade .ba-trade-desc__info {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px; }
        .ba-about .ba-trade .ba-trade-desc__info:hover {
          opacity: 0.7; }
        .ba-about .ba-trade .ba-trade-desc__info .ba-trade-marker {
          width: 15px;
          height: 15px; }
          .ba-about .ba-trade .ba-trade-desc__info .ba-trade-marker:hover {
            opacity: 0.7; }
  .ba-about .ba-commerce {
    display: flex;
    margin-bottom: 140px; }
    .ba-about .ba-commerce .ba-commerce-desc {
      padding-top: 53px; }
      .ba-about .ba-commerce .ba-commerce-desc__tagline {
        display: block;
        font-size: 1.375rem;
        font-weight: normal; }
      .ba-about .ba-commerce .ba-commerce-desc__title {
        font-size: 2.75rem;
        margin-bottom: 30px; }
      .ba-about .ba-commerce .ba-commerce-desc__text {
        text-transform: none;
        font-size: 1.125rem;
        font-family: "Open Sans", sans-serif;
        line-height: 30px;
        margin-bottom: 50px;
        color: #636c77; }
      .ba-about .ba-commerce .ba-commerce-desc__link {
        display: inline-block;
        border: 1px solid #2c4058;
        font-size: 0.875rem;
        padding: 17px 40px;
        font-weight: 500; }
        .ba-about .ba-commerce .ba-commerce-desc__link:active {
          color: #031933;
          border-color: #031933; }
        .ba-about .ba-commerce .ba-commerce-desc__link:hover {
          color: #0b1e3570;
          border-color: #0b1e3570; }
      .ba-about .ba-commerce .ba-commerce-desc__info {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 1.125rem;
        text-transform: none;
        margin-top: 72px; }
        .ba-about .ba-commerce .ba-commerce-desc__info:hover {
          opacity: 0.7; }
        .ba-about .ba-commerce .ba-commerce-desc__info .ba-commerce-marker {
          width: 15px;
          height: 15px; }
          .ba-about .ba-commerce .ba-commerce-desc__info .ba-commerce-marker:hover {
            opacity: 0.7; }
    .ba-about .ba-commerce .ba-commerce-image-wrapper {
      position: relative;
      width: 1550px;
      height: 470px;
      background-color: #2c4058;
      margin-left: 70px; }
      .ba-about .ba-commerce .ba-commerce-image-wrapper__item {
        position: relative;
        z-index: 10;
        object-fit: cover;
        width: 100%;
        max-width: 630px; }
      .ba-about .ba-commerce .ba-commerce-image-wrapper__block {
        width: 590px;
        position: absolute;
        height: 470px;
        background-color: #7e5aff;
        top: -70px;
        left: 33%; }

.ba-news {
  padding: 170px 0 140px;
  background-image: url(../images/newsBg2.png), linear-gradient(to right top, #3c7fd4, #2393e2, #00a7ec, #00baf4, #24ccfa);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .ba-news .ba-title {
    text-align: center;
    margin-bottom: 88px;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 300; }
    .ba-news .ba-title__item {
      font-size: 2.75rem; }
      .ba-news .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        margin: 0 auto 33px; }
  .ba-news .ba-project-card {
    width: 100%; }
    .ba-news .ba-project-card .ba-project-info {
      margin-top: -4px;
      padding: 24px 20px 29px;
      background-color: #fff; }
      .ba-news .ba-project-card .ba-project-info--padding {
        padding: 24px 15px 29px 20px; }
      .ba-news .ba-project-card .ba-project-info__title {
        font-family: "Gotham Pro", sans-serif;
        font-size: 1.375rem;
        color: #2c4058;
        text-transform: uppercase;
        line-height: 34px; }
      .ba-news .ba-project-card .ba-project-info__text {
        font-family: "Open Sans", sans-serif;
        color: #6f7781;
        font-size: 1.125rem;
        line-height: 30px;
        font-weight: 400; }
      .ba-news .ba-project-card .ba-project-info .ba-contact-card {
        margin-top: 30px; }
        .ba-news .ba-project-card .ba-project-info .ba-contact-card__image {
          margin-right: 20px; }
        .ba-news .ba-project-card .ba-project-info .ba-contact-card__name {
          position: relative;
          bottom: 30px;
          text-transform: uppercase;
          font-size: 1.125rem; }
        .ba-news .ba-project-card .ba-project-info .ba-contact-card__date {
          position: relative;
          display: block;
          left: 87px;
          font-size: 0.875rem;
          bottom: 24px;
          color: #55b7ff; }

.ba-gallary {
  padding: 165px 0 140px; }
  .ba-gallary .ba-title {
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-family: "Gotham Pro", sans-serif;
    color: #2c4058; }
    .ba-gallary .ba-title__item {
      font-size: 2.75rem; }
      .ba-gallary .ba-title__item::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin: 0 auto 33px; }
  .ba-gallary .ba-slide-card__item {
    object-fit: cover; }
  .ba-gallary .pad {
    padding: 0 10px; }
  .ba-gallary .ba-link {
    display: flex;
    justify-content: center;
    margin-top: 60px; }
    .ba-gallary .ba-link__item {
      display: inline-block;
      border: 1px solid #2c4058;
      font-size: 0.875rem;
      padding: 17px 55px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Gotham Pro", sans-serif; }
      .ba-gallary .ba-link__item:active {
        color: #031933;
        border-color: #031933; }
      .ba-gallary .ba-link__item:hover {
        color: #0b1e3570;
        border-color: #0b1e3570; }

#map {
  width: 100%;
  height: 700px; }
