@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro/GothamPro-Medium.eot);
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
    url(../fonts/GothamPro/GothamPro-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro-Medium.woff), url(../fonts/GothamPro/GothamPro-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro/GothamPro-Bold.eot);
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
    url(../fonts/GothamPro/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro-Bold.woff), url(../fonts/GothamPro/GothamPro-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url(../fonts/GothamPro/GothamProNarrow-Bold.eot);
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"),
    url(../fonts/GothamPro/GothamProNarrow-Bold.eot#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamProNarrow-Bold.woff), url(../fonts/GothamPro/GothamProNarrow-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url(../fonts/GothamPro/GothamProNarrow-Medium.eot);
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"),
    url(../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamProNarrow-Medium.woff), url(../fonts/GothamPro/GothamProNarrow-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro/GothamPro-Light.eot);
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
    url(../fonts/GothamPro/GothamPro-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro-Light.woff), url(../fonts/GothamPro/GothamPro-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro/GothamPro-Bold.eot);
  src: local("Gotham Pro Black"), local("GothamPro-Black"),
    url(../fonts/GothamPro/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro-Black.woff), url(../fonts/GothamPro/GothamPro-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamPro/GothamPro.eot);
  src: local("Gotham Pro"), local("GothamPro"), url(../fonts/GothamPro/GothamPro.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro.woff), url(../fonts/GothamPro/GothamPro.ttf);
  font-weight: normal;
  font-style: normal;
}
